/frontend/node_modules
/frontend/.next
/frontend/.env
/frontend/.env.local

/backend/node_modules
/backend/.env
/backend/.env.local
/backend/.next
/backend/.nuxt

/livekit/venv
/livekit/.env
/livekit/__pycache__

/aws.py